
<div class="col-md-6" align="center">
  <h3>Academic Behavioural Confidence for</h3>
</div>
<!-- <style>
.parent {
  class:"col-md-8 col-md-push-2";
}
.parent > ul {
  display: inline-block;
}
</style> -->
<style type="text/css">
  .position{text-align:center}
  .position ul{
    display:inline-block;
    text-align:left;
  }
</style>
<div class="position">
  <ul>
    <li>The 17 questions you filled in were intended to try and describe dimensions<br>of Academic
      Behavioural Confidence (ABC) (related to the self-concept and<br>self-efficacy of students)
    </li>
    <li>The identified four dimensions of ABC, are, Grades("Confidence in the actual<br>activity 
      contributing directly to what a student is graded on, including<br>coursework and exams"), 
      Verbalising ("Confidence in the ability to verbalise<br>their knowledge during their learning activity"), 
      Attendance ("Confidence in<br>the willingness to appropriately attend events during their learning activity")<br> 
      and Studying ("Confidence in undertaking the self-orginised activity<br>necessary for their learning experience").
    </li>
    <li>The results of your 17 responses are shown in the below constellation graph<br>plot 
      (different number of the questions relate to the different dimensions)<br>
      (each line of points joins the responses from different sets of questions).
    </li>
  </ul>
</div>
<br>
<br> 
<div align="center" style="width:100%;height:30em">
  <!-- {% autoescape off %} -->
  {{ svg5 }}
<br>  
<a href="/download1" download>
  <button>Download</button>
  <!-- <a class="btn btn-primary pull-right" href="/download1" role="button">Next</a> -->
</a> 
  <!-- {% endautoescape %} -->
</div>
<div class="position">
  <ul>
    <li>The base line of the constellation graph so the index values of different<br>confidence dimensions 
      , over the consistent domain 0.0 (low confidence)<br>to 1.0 (high confidence).
    </li>
    <li>Have a look at your results and think whether they are a fair reflection of your<br>confidences in these regards.
    </li>
    <li>You may want to talk to your personal tutor about these results - or ask your<br>undergraduate office for where further advice could be sought.
    </li>
  </ul>  
</div>

